<div class="w-full min-h-screen bg-slate-50 dark:bg-slate-800 flex flex-col justify-center items-center">

  <span class="title">NgxRewards 🎉</span>

  <div class="w-full flex justify-center gap-x-2 md:gap-x-4">
    <button ngxRewardsEmoji
            [emojiConfig]="emojiConfig"
            class="button">
      Emoji
    </button>

    <button ngxRewardsConfetti
            class="button">
      Confetti
    </button>

    <button ngxRewardsBalloon
            class="button">
      Balloons
    </button>

    <button ngxRewardsEmoji
            ngxRewardsBalloon
            ngxRewardsConfetti
            class="button">
      All 3
    </button>
  </div>
</div>